<launch>
    <arg name="ros_master_uri" default="http://10.9.12.1:11311"/>
    <arg name="ros_ip" default="10.9.12.1"/>

    <env name="ROS_MASTER_URI" value="$(arg ros_master_uri)"/>
    <env name="ROS_IP" value="$(arg ros_master_uri)"/>

    <node name="sr_pedal_node" pkg="sr_pedal" type="sr_pedal_node" output="screen" />
</launch>

