<launch>
    <!-- Launches the pedal node. -->

    <!-- The goal publish rate. Publishing will be much slower when the pedal is disconnected (1-2Hz) due to the
         relatively slow hardware searching. Default is 20 to allow heartbeat clients to use a 10Hz/0.1s timeout,
         ensuring a <0.1s response to pedal data being lost for whatever reason. -->
    <arg name="rate" default="20"/>
    
    <node name="sr_pedal" pkg="sr_pedal" type="sr_triple_pedal.py" output="screen">
        <param name="rate" value="$(arg rate)"/>
    <node name="sr_pedal_unlock" pkg="sr_pedal" type="sr_ur_release.py" output="screen"/>
</launch>
